@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

// Root layout — flex column, full viewport height
.page {
  background: $color-paper;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
